/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* GENERAL CONTENT AND LAYOUT */
:root {
  /* primary colors */
  --red: hsl(0 78% 62%);
  --cyan: hsl(180 62% 55%);
  --orange: hsl(34 97% 64%);
  --blue: hsl(212 86% 64%);
  /* neutral colors */
  --grey500: hsl(234 12% 34%);
  --grey400: hsl(212 6% 44%);
  --white: hsl(0 0% 100%);
}

@font-face {
  font-family: "Poppins Extra Light";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(./fonts/Poppins-ExtraLight-subset.woff2) format(woff2);
}

@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/Poppins-Regular-subset.woff2) format(woff2);
}

@font-face {
  font-family: "Poppins Semibold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./fonts/Poppins-SemiBold-subset.woff2) format(woff2);
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins Regular", sans-serif;
  font-size: 0.9375rem; /* 0.9375rem => 0.9375 * 16px = 15px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--grey500);
  background-color: hsl(240, 19%, 95%);
  min-height: 100dvh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 32px;
}

/* SECTION HEADER */
.header {
  text-align: center;
  margin-bottom: 3.75rem;
  max-width: 33rem;
}

.header__heading {
  font-family: "Poppins Extra Light", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

.header__heading strong {
  display: block;
  font-family: "Poppins Semibold", sans-serif;
  font-weight: 600;
}

@media (min-width: 32rem) {
  .header__heading {
    font-size: 2.25rem;
  }
}

/* CARD SECTION */
.card-wrapper {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 32px;
  max-width: 70rem;
}

.card-1 {
  --accent: var(--cyan);
}

.card-2 {
  --accent: var(--red);
}

.card-3 {
  --accent: var(--orange);
}

.card-4 {
  --accent: var(--blue);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--white);
  border-top: 4px solid var(--accent);
  border-radius: 8px;
  box-shadow: 0 15px 30px -11px hsl(213 47% 67% / 0.5);
  padding: 32px;
}

.card__heading {
  font-family: "Poppins Semibold", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.35;
  margin-bottom: 0.5rem;
}

.card__text {
  font-size: 0.8125rem; /* 0.8125rem => 0.8125 * 16px = 13px */
  line-height: 1.6;
  color: var(--grey400);
}

.card__icon {
  height: 4rem;
  aspect-ratio: 1;
  align-self: flex-end;
}

@media (min-width: 44rem) {
  .card-wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: ". card-2 card-2 ." "card-1 card-1 card-3 card-3" ". card-4 card-4 .";
  }

  .card-1 {
    grid-area: card-1;
  }

  .card-2 {
    grid-area: card-2;
  }

  .card-3 {
    grid-area: card-3;
  }

  .card-4 {
    grid-area: card-4;
  }
}

@media (min-width: 65rem) {
  .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: ". card-2 ." "card-1 card-2 card-4" "card-1 card-3 card-4" ". card-3 .";
  }
}

/* FOOTER */
.attribution {
  font-size: 0.75rem;
  text-align: center;
  padding-bottom: 24px;
}
.attribution a {
  color: var(--grey500);
  text-decoration-color: var(--blue);
  text-decoration-thickness: 2px;
}
.attribution a:hover {
  color: var(--blue);
}
